header{
    background-color: var(--color-black);
    height: 88px;
    display: flex;
    width: 100%;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--size-2xl);
        .logo{
            display: flex;
            gap: 10px;
            a{
                color: var(--color-white);
                transition: 0.3s ease;
                &:nth-of-type(1):hover{
                    color: grey;
                }
                &:nth-of-type(2){
                    border-left: 2px solid var(--color-white);
                    padding-left: 10px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .nav-buttons{
            display: flex;
            gap: 15px;
            align-items: center;
            .bx{
                color: var(--color-white);
                font-size: var(--size-4xl);
                display: none;
                cursor: pointer;
            }
        }
    }
}

.mobile-nav{
    position: absolute;
    z-index: 99999;
    width: 100%;
    background-color: var(--color-darkgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    display: none;
    .mobile-btn{
        border: 1px solid transparent;
        width: 60%;
        font-size: var(--size-2xl);
        padding: 16px 0;
    }
    .mobile-btn:first-child{
        border-bottom: 1px solid var(--color-white);
        border-radius: 0;
    }
}





/* md */
@media (max-width: 1023px) {
    header nav{
        font-size: var(--size-xl);
    }

}

/* sm */
@media (max-width: 767px) {
    header nav{
        font-size: var(--size-lg);
        .nav-buttons{
            .submitRequestBtn{
                display: none;
            }
            .signIn{
                display: none;
            }
            .openNav{
                display: flex;
            }
        }
    }
}