footer{
    background-color: var(--color-black);
    color: var(--color-white);
}

.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 80px;
}

.footer .footer-item{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer .footer-item .item__name{
    font-size: var(--size-xl);
    margin-bottom: var(--size-lg);
}
.footer .footer-item .item__link{
    color: var(--color-white);
    font-size: var(--size-sm);
}
.footer .footer-item .item__link:hover{
    text-decoration: underline;
}

.footer .wrap-items{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer .footer-item .item__sm{
    font-size: var(--size-md);
    margin-top: var(--size-xl);
}
.footer .footer-item .item__link-sm{
    font-size: var(--size-sm);
    color: var(--color-white);
}
.footer .footer-item .item__link-sm:hover{
    text-decoration: underline;
}

.footer .footer-item:last-child{
    position: absolute;
    right: -40px;
    bottom: 30px;
}

.footer .footer-item:last-child p{
    font-size: var(--size-sm);
}


/* lg */
@media (max-width: 1279px) {

    .footer{
        gap: 20px;
    }
    
    .footer .footer-item{
        width: 15%;
    }
    
    .footer .footer-item:last-child{
        width: 20%;
        right: 20px;
        bottom: 30px;
    }
}

/* md */
@media (max-width: 1023px) {
    .footer .footer-item:last-child{
        width: 30%;
        right: -20px;
    }
}

/* sm */
@media (max-width: 767px) {
    .footer .footer-item{
        display: flex;
        flex-direction: column;
        width: 35%;
    }

    .footer .footer-item:last-child p{
        font-size: var(--size-xs);
    }
}

/* xs */
@media (max-width: 639px) {
    .footer .footer-item .item__sm{
        font-size: var(--size-sm);
    }
    .footer .footer-item .item__link-sm{
        font-size: var(--size-xs);
    }
    .footer .footer-item:last-child{
        font-size: var(--size-sm);
        right: 0;
        bottom: 10px;
        left: 10px;
        width: 100%;
    }
}