:root {
    /* Size Variables */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  
    /* Color Variables */
    --color-blue: #4C5FD5;
    --color-light-blue: #dadbf1;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-darkgrey: #191a1b;
}

*{
    margin: 0;
    line-height: 1.5;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

#footer-container{
    position: sticky;
    top: 100%;
}
